---
layout: default
title: MonD&Diary
---

<div class="container">
    <header class="page__header">
        <img src="img/mondndiary.png" alt="MonD&Diary" />
    </header>
    {% include intro.html %}
    <aside class="chars">
        {% include chars.html %}
    </aside>
    <section class="summaries">
        {% for post in site.posts reversed %}
            {{ post }}
        {% endfor %}
    </section>
    <footer class="summary">
        <article class="summary__content">
            {% capture glossary %}{% include glossary.md %}{% endcapture %}
            {{ glossary | markdownify }}
        </article>
    </footer>
</div>
