<div class="char" style="border-color: #c53131; background-color: #c5313130;">
    <div class="char__image">
        <img src="img/chars/itty.png" alt="Graf Hermann Itty" style="border-color: #c53131;" />
    </div>
    <div class="char__bio">
        <span class="char__bio--name">Graf Hermann Itty</span>
        <span class="char__bio--info">Dark Elf Rogue<br/>(Arcane Trickster)</span>
    </div>
</div>

<div class="char" style="border-color: #b59e54; background-color: #b59e5430;">
    <div class="char__image">
        <img src="img/chars/nabor.png" alt="Nabor Ou" style="border-color: #b59e54;" />
    </div>
    <div class="char__bio">
        <span class="char__bio--name">Nabor Ou</span>
        <span class="char__bio--info">Heartbreed Dragonborn Monk<br/>(Way of the Sun Soul)</span>
    </div>
</div>

<div class="char" style="border-color: #92a2b3; background-color: #92a2b330;">
    <div class="char__image">
        <img src="img/chars/thurion.png" alt="Thurion Steinherz" style="border-color: #92a2b3;" />
    </div>
    <div class="char__bio">
        <span class="char__bio--name">Thurion Steinherz</span>
        <span class="char__bio--info">Hill Dwarf Cleric<br/>(Life Domain)</span>
    </div>
</div>

<div class="char" style="border-color: #8137af; background-color: #8137af30;">
    <div class="char__image">
        <img src="img/chars/nowhere.png" alt="Nowhere Clarkson" style="border-color: #8137af;" />
    </div>
    <div class="char__bio">
        <span class="char__bio--name">Nowhere Clarkson</span>
        <span class="char__bio--info">Abyssal Tiefling Warlock</span>
    </div>
</div>
