<section class="summary">
    <article class="summary__content">
        <p><em><del>Sechs</del> Vier vom Schicksal zusammengewürfelte Sonderlinge ziehen aus um Ihre Bestimmung zu finden.</em></p>
        <p>Dies sind die Aufzeichnungen eben dieser Abenteurer, welche sich in den Landen der Forgotten Realms aufmachen um ihr
            Schicksal, Reichtum oder sonstwede Erfüllung zu finden. Mit Leben, Herz, Geschichten und Monstern gefüllt wird diese
            Welt von <strong>Game Master Sammy</strong>.</p>
        <p>In bester "Dinner for one" Manier nun also zur Vorstellung dieser verbliebenen vier - mehr oder minder -
            vertrauenserweckenden Gestalten:</p>
        <p></p>
    </article>
</section>