// background colors
$body-bgcolor: #2c3e50;
$wrapper-bgcolor: #eee5ce;
$chars-bgcolor: #e0e5c1;

// text colors
$link-color: #110064;
$heading-color: #58180d;
$handwritten-color: #ec2127;
$info-color: #333;

// misc
$heading-border: #c9ad6a;