@font-face {
    font-family: "Bookinsanity";
    font-display: swap;
    src:
        local("Bookinsanity Remake"),
        local("Bookinsanity"),
        url("fonts/Bookinsanity/Bookinsanity.woff2");
}
@font-face {
    font-family: "Bookinsanity";
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src:
        local("Bookinsanity Remake"),
        local("Bookinsanity"),
        url("fonts/Bookinsanity/Bookinsanity Bold Italic.woff2");
}
@font-face {
    font-family: "Bookinsanity";
    font-weight: bold;
    font-display: swap;
    src:
        local("Bookinsanity Remake"),
        local("Bookinsanity"),
        url("fonts/Bookinsanity/Bookinsanity Bold.woff2");
}
@font-face {
    font-family: "Bookinsanity";
    font-style: italic;
    font-display: swap;
    src:
        local("Bookinsanity Remake"),
        local("Bookinsanity"),
        url("fonts/Bookinsanity/Bookinsanity Italic.woff2");
}

@font-face {
    font-family: "Mr Eaves Small Caps";
    font-feature-settings: "smcp" on;
    font-display: swap;
    src:
        local("Mr Eaves Small Caps"),
        url("fonts/Mr Eaves/Mr Eaves Small Caps.woff2");
}

@font-face {
    font-family: "Scaly Sans";
    font-display: swap;
    src:
        local("Scaly Sans Remake"),
        local("Scaly Sans"),
        url("fonts/Scaly Sans/Scaly Sans.woff2");
}
@font-face {
    font-family: "Scaly Sans";
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src:
        local("Scaly Sans Remake"),
        local("Scaly Sans"),
        url("fonts/Scaly Sans/Scaly Sans Bold Italic.woff2");
}
@font-face {
    font-family: "Scaly Sans";
    font-weight: bold;
    font-display: swap;
    src:
        local("Scaly Sans Remake"),
        local("Scaly Sans"),
        url("fonts/Scaly Sans/Scaly Sans Bold.woff2");
}
@font-face {
    font-family: "Scaly Sans";
    font-style: italic;
    font-display: swap;
    src:
        local("Scaly Sans Remake"),
        local("Scaly Sans"),
        url("fonts/Scaly Sans/Scaly Sans Italic.woff2");
}

@font-face {
    font-family: "Scaly Sans Caps";
    font-display: swap;
    src:
        local("Scaly Sans Caps"),
        url("fonts/Scaly Sans Caps/Scaly Sans Caps.woff2");
}

@font-face {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
      local("Shadows Into Light"),
      url("fonts/Shadows Into Light/Shadows Into Light.woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$text-font: "Bookinsanity", Georgia, serif;
$name-font: 'Scaly Sans Caps', sans-serif;
$info-font: 'Scaly Sans', sans-serif;
$header-font: 'Mr Eaves Small Caps', serif;
$handwritten: 'Shadows Into Light', cursive;