@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@font-face {
    font-family: "Bookinsanity";
    src:
        local("Bookinsanity Remake"),
        local("Bookinsanity"),
        url("fonts/Bookinsanity/Bookinsanity.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity.otf") format("opentype");
}
@font-face {
    font-family: "Bookinsanity";
    src:
        local("Bookinsanity Remake"),
        local("Bookinsanity"),
        url("fonts/Bookinsanity/Bookinsanity Bold Italic.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Bold%20Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Bookinsanity";
    src:
        local("Bookinsanity Remake"),
        local("Bookinsanity"),
        url("fonts/Bookinsanity/Bookinsanity Bold.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Bookinsanity";
    src:
        local("Bookinsanity Remake"),
        local("Bookinsanity"),
        url("fonts/Bookinsanity/Bookinsanity Italic.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "Nodesto Caps Condensed";
    src:
        local("Nodesto Caps Condensed"),
        url("fonts/Nodesto Caps Condensed/Nodesto Caps Condensed.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Nodesto%20Caps%20Condensed/Nodesto%20Caps%20Condensed.otf") format("opentype");
}
@font-face {
    font-family: "Nodesto Caps Condensed";
    src:
        local("Nodesto Caps Condensed"),
        url("fonts/Nodesto Caps Condensed/Nodesto Caps Condensed Bold Italic.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Nodesto%20Caps%20Condensed/Nodesto%20Caps%20Condensed%20Bold%20Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Nodesto Caps Condensed";
    src:
        local("Nodesto Caps Condensed"),
        url("fonts/Nodesto Caps Condensed/Nodesto Caps Condensed Bold.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Nodesto%20Caps%20Condensed/Nodesto%20Caps%20Condensed%20Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Nodesto Caps Condensed";
    src:
        local("Nodesto Caps Condensed"),
        url("fonts/Nodesto Caps Condensed/Nodesto Caps Condensed Italic.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Nodesto%20Caps%20Condensed/Nodesto%20Caps%20Condensed%20Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "Mr Eaves Small Caps";
    src:
        local("Mr Eaves Small Caps"),
        url("fonts/Mr Eaves/Mr Eaves Small Caps.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Mr%20Eaves/Mr%20Eaves%20Small%20Caps.otf") format("opentype");
    font-feature-settings: "smcp" on;
}

@font-face {
    font-family: "Scaly Sans";
    src:
        local("Scaly Sans Remake"),
        local("Scaly Sans"),
        url("fonts/Scaly Sans/Scaly Sans.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans.otf") format("opentype");
}
@font-face {
    font-family: "Scaly Sans";
    src:
        local("Scaly Sans Remake"),
        local("Scaly Sans"),
        url("fonts/Scaly Sans/Scaly Sans Bold Italic.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Bold%20Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Scaly Sans";
    src:
        local("Scaly Sans Remake"),
        local("Scaly Sans"),
        url("fonts/Scaly Sans/Scaly Sans Bold.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Scaly Sans";
    src:
        local("Scaly Sans Remake"),
        local("Scaly Sans"),
        url("fonts/Scaly Sans/Scaly Sans Italic.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "Scaly Sans Caps";
    src:
        local("Scaly Sans Caps"),
        url("fonts/Scaly Sans Caps/Scaly Sans Caps.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps.otf") format("opentype");
}
@font-face {
    font-family: "Scaly Sans Caps";
    src:
        local("Scaly Sans Caps"),
        url("fonts/Scaly Sans Caps/Scaly Sans Caps Bold Italic.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Bold%20Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Scaly Sans Caps";
    src:
        local("Scaly Sans Caps"),
        url("fonts/Scaly Sans Caps/Scaly Sans Caps Bold.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Scaly Sans Caps";
    src:
        local("Scaly Sans Caps"),
        url("fonts/Scaly Sans Caps/Scaly Sans Caps Italic.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Italic.otf") format("opentype");
    font-style: italic;
}

$text-font: "Bookinsanity", Georgia, serif;
$name-font: 'Scaly Sans Caps', sans-serif;
$info-font: 'Scaly Sans', sans-serif;
$header-font: 'Mr Eaves Small Caps', serif;
$handwritten: 'Shadows Into Light', cursive;