@import "fonts";

* {
    font-family: $text-font;
    line-height: 1.3rem;
    box-sizing: border-box;
}

body {
    background-color: #eee5ce;
    background-image: url(https://raw.githubusercontent.com/naturalcrit/homebrewery/2f663e0ea7003e7c4ef0ca3278a0e52d5e2bfbb3/themes/assets/parchmentBackground.jpg);
}

footer {
    padding-top: 5rem;
}

h1, h2, h3, h4, h5 {
    font-family: $header-font;
    border-bottom: 2px solid #c9ad6a;
    color: #58180d;
}

strong, dt {
    font-weight: bold;
    letter-spacing: .03em;
}

.todo {
    background-color: yellow;
}

.page__header {
    text-align: center;
    padding: 3rem 0;

    img {
        max-width: 100%;
    }

    h1, h2 {
        font-family: $header-font;
        line-height: .2rem;
        color: #ec2127;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
}

.container {
    margin: 1rem 2rem 10rem;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}