@import "fonts";

* {
    font-family: $text-font;
    box-sizing: border-box;
}

body {
    background-color: #f9f7ec;
}

h1, h2, h3, h4, h5 {
    font-family: $header-font;
}

.strikethrough {
    text-decoration: line-through;
}
.special {
    font-family: $header-font;
    font-weight: bold;
}

.page__header {
    text-align: center;
    padding: 3rem 0;

    img {
        max-width: 100%;
    }

    h1, h2 {
        font-family: $header-font;
        line-height: .2rem;
        color: #ec2127;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
}

.container {
    margin: 1rem 2rem 10rem;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}