.summary {
    display: grid;
    grid-gap: 0 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "summary";
    align-content: space-evenly;

    &__header {
        text-align: right;
        display: none;

        &--date {
            display: inline-block;
            font-family: $handwritten;
            font-size: 1.5rem;
            line-height: 2rem;
            color: #ec2127;
        }
    }

    &__content {
        grid-area: summary;
        text-rendering: optimizeLegibility;

        p {
            text-align: justify;
        }

        & > *:first-child {
            margin-top: .5rem;
        }
        & > *:last-child {
            margin-bottom: .5rem;
        }
    }
}

@media only screen and (min-width: 500px) {
    .summary {
        grid-template-columns: 1fr 7fr;
        grid-template-areas:
                "date summary";

        &__header {
            grid-area: date;
            display: block;
        }
    }
}

@media only screen and (min-width: 952px) {
    .summary {
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-areas:
                "date summary .";

        &__header {
            &--date {
                font-size: 1.75rem;
            }
        }
    }
}