<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="MonD&Diary, an attempt at a D&D campaign diary"/>
    <meta name="keywords" content="mondnd"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="icon" href="favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <noscript>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </noscript>
</head>
<body>

<div class="wrapper">
    {{ content }}
</div>

<script type="text/javascript">
  const styleSheet = document.createElement('link');
  styleSheet.rel = 'stylesheet';
  styleSheet.href = 'css/main.css';
  styleSheet.type = 'text/css';
  const deferred = document.getElementsByTagName('link')[0];
  deferred.parentNode.insertBefore(styleSheet, deferred);
</script>
</body>
</html>